{% extends 'base_layout.html' %}
{% block board %}

<style>
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 0 1rem 2rem;
        display: flex;
    }

    #map {
        display: inline-block;
        position: relative;
        top: 0;
        bottom: 0;
        width: 80vh;
        height: 60vh;
    }

    #control-pane {
        margin-left: 1rem;
    }
</style>

<div class="container">



    <span id='map'></span>
    <span id="control-pane">
        <form>
            <div>
                <label>Search</label>
                <input id="input-location" type="text" placeholder="Input a place"></input>
            </div>
            <button onclick="searchLocation"> Add </button>

        </form>
        <div><label id="txt-lat">Latitude</label></div>
        <div><label id="txt-lng">Longtitude</label></div>
    </span>
</div>
<script>

    mapboxgl.accessToken = 'pk.eyJ1IjoidGluZ2thbmd3dSIsImEiOiJjbHRlYTdiejkwY2Q5Mm1taGd4ZmYwcDlkIn0.srluRy61JJXofTwP4MwNmQ'
    const map = new mapboxgl.Map({
        container: 'map',
        // Replace YOUR_STYLE_URL with your style URL.
        style: 'mapbox://styles/examples/clg45vm7400c501pfubolb0xz',
        center: [115.801442, -31.959019],
        zoom: 10.7
    });

    map.on('click', (event) => {

        var lngLat = event.lngLat;
        // Code from the next step will go here.
        var latitude = document.getElementById('txt-lat');
        var longitude = document.getElementById('txt-lng');
        latitude.innerHTML = lngLat.lat
        longitude.innerHTML = lngLat.lng
    });

    function searchLocation() {
        var location = document.getElementById('input-location').value;
        fetch('https://api.mapbox.com/geocoding/v5/mapbox.places/' + location + '.json?access_token=' + mapboxgl.accessToken)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                // Get the info of the first location
                var coordinates = data.features[0].geometry.coordinates;
                var lng = coordinates[0];
                var lat = coordinates[1];
                console.log(lng, lat);
                // Add marker to the map
                new mapboxgl.Marker()
                    .setLngLat([lng, lat])
                    .addTo(map);

                // Move the position to the center of the map
                map.setCenter([lng, lat]);
            });
    }
</script>

{% endblock %}